
/* Colors */
$black: #222;
$blue: #236cc5;
$grey-light: #ccc;
$grey: #999;
$grey-dark: #555;
/*
Trying the below colour naming convention. Have realised that naming colours like about is a problem if the site-wide colours change drastically (i.e. from 'mint' to 'orange')
*/
// ORANGE FLAVOURED
// $brandcol1: #f0b842;
// $brandcol2: #fbe34d;
// $brandcol3: #5ac5b8;
// $brandcol4: #f1af46;
// $brandcol5: #555;
// $brandcol6: #fb834e;

// MINT FLAVOURED
$brandcol1: #5ac5b8;
$brandcol2: #a3e5b8;
$brandcol3: #fbe34d;
$brandcol4: #51b973;
$brandcol5: #555;
$brandcol6: #fb834e;
$brandcol7: #236cc5;
$brandcol8: #29743d;
$brandcol9: #44ae60;

// NIGHT FLAVOURED
// $brandcol1: #0f2948;
// $brandcol2: #163d68;
// $brandcol3: #fbe34d;
// $brandcol4: #0f2948;
// $brandcol5: #555;
// $brandcol6: #fb834e;
