<section class="contact-wrap" id="contact">
  <div class="columns">
    <div class="columns-col100">
      <h2>Get in touch</h2>
      <p>Like what you see? Then speak to us about how we can work together with you, our products, and our team.</p>
      <ul class="action">
        <li>
          <div class="ar-content">
            <a href="{{ site.baseurl }}/contact/"><img src="{{ site.baseurl }}/assets/images/icon-envelope.svg" alt="Email us" /></a>
          </div>
          </li>
      </ul>
    </div>
  </div>
</section>
