<article class="cta">
    <h1 class="hero-cta-title">Kixi platform</h1>
    <p class="hero-cta-desc">Our core open source big data processing platform.</p>
    <a href="{{ site.baseurl }}/products/kixi/">
      <button>More</button>
    </a>
</article>
<article class="cta">
    <h1 class="hero-cta-title">Witan app</h1>
    <p class="hero-cta-desc">Our city decision-making application.</p>
    <a href="{{ site.baseurl }}/products/witan/">
      <button>More</button>
    </a>
</article>
<article class="cta">
    <h1 class="hero-cta-title">Data science</h1>
    <p class="hero-cta-desc">Customised support to unlock the power of your data.</p>
    <a href="{{ site.baseurl }}/data_science/">
      <button>More</button>
    </a>
</article>
