<section class="signup-wrap">
  <h1 class="section-title">Keep up to date on data</h1>
  <p>Sign up for our newsletter to get updates about Mastodon C and the latest developments in big data and data science.</p>
  <form class="signup" action="">
    <p><label for="signup-name">Name</label> <input type="text" id="signup-name" placeholder="Your name" /></p>
    <p><label for="signup-email">Email</label> <input type="email" id="signup-email" placeholder="Your email address" /></p>
    <p class="signup-submit"><input type="submit" /></p>
  </form>
</section>
